<div class="recipe-collection">
    <div class="header">
        <h1 class="title">My Recipes</h1>
    </div>
    <div class="search-bar">
        <input pInputText [(ngModel)]="searchTerm"/>
        <p-button class="search" icon="pi pi-search" [disabled]="searchTerm.length < 3" (onClick)="search()" label=""/>
        <p-button class="clear" icon="pi pi-times" [disabled]="!searchTerm" (onClick)="clear()" label=""/>
    </div>
    <div class="recipes-container">
        @for (recipe of recipes; track recipe.id) {
            <app-extended-card [recipe]="recipe"></app-extended-card>
            <br/>
        }
    </div>
    <p-paginator (onPageChange)="onLazyLoad($event)" [first]="requestParams.first ?? 0" [rows]="requestParams.rows ?? 20" [totalRecords]="totalRecords" [rowsPerPageOptions]="[20, 50, 100]" />
</div>
