@use "./variables.scss" as vars;

.p-button {
  font-size: 1rem;
  color: vars.$whiteFlour;
  border: none;
  background: transparent;

  &:hover {
    background: vars.$whiteFlour;

    .p-button-label {
      color: vars.$crackedPepper;
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.add-recipe .p-button {
  background: vars.$saffronThread;
  color: vars.$crackedPepper;
  border: none;

  .p-button-label {
    font-weight: 700;
  }

  &:hover {
    background: vars.$whiteFlour;
  }
}

.sign-in .p-button {
  background: vars.$crackedPepper;
  color: vars.$whiteFlour;
  border: none;

  .p-button-label {
    font-weight: 700;
  }

  &:hover {
    background: vars.$whiteFlour;
    color: vars.$crackedPepper;
  }
}

.mobile .p-button {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}

.add-recipe-homepage .p-button {
  background: vars.$crackedPepper;
  color: vars.$whiteFlour;
  border: none;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid transparent;

  .p-button-label {
    height: 1.5rem;
  }

  &:hover {
    background: vars.$whiteFlour;
    border: 1px solid vars.$crackedPepper;
  }
}

.submit-recipe .p-button {
  background: vars.$herbalWash;

  &:hover {
    background: vars.$farro;
  }
}

.new-ingredient .p-button {
  width: 34px;
  height: 34px;
  background: vars.$herbalWash;

  &:hover {
    background: vars.$farro;
  }
}

.delete-ingredient .p-button {
  width: 34px;
  height: 34px;
  background: vars.$crackedPepper;

  &:hover {
    background: vars.$farro;
  }
}

.search .p-button,
.clear .p-button {
  color: vars.$whiteFlour;
  background: vars.$herbalWash;
  height: 36px;

  &:hover {
    color: vars.$crackedPepper;
    background: vars.$whiteFlour;
    border: 1px solid vars.$herbalWash;
  }
}

.edit-button .p-button,
.toggle-button .p-button {
  color: vars.$crackedPepper;
  border: 1px solid vars.$crackedPepper;

  &:hover {
    background: vars.$herbalWash;
    color: vars.$whiteFlour;
    border: none;
  }
}

.delete-button .p-button {
  background: vars.$crackedPepper;
  color: vars.$whiteFlour;

  &:hover {
    background: vars.$saffronThread;
    border: 1px solid vars.$crackedPepper;
    color: vars.$crackedPepper;
  }
}
