@use "./variables.scss" as vars;

.p-fileupload {
  .p-fileupload-header {
    .p-fileupload-choose-button {
      background: vars.$herbalWash;
    }
  }

  ul {
    padding-left: 0;
  }
}

.invalid .p-fileupload {
  border: 1px solid red;
}
