@use "../shared/overrides/variables.scss" as vars;

.homepage {
  width: 100%;
  height: calc(100vh - 55px);
  margin: auto;
  overflow: auto;

  .search-bar {
    width: 100%;
    padding: 10px 250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid vars.$crackedPepper;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .router-outlet{
    width: 100%;
    padding: 10px 250px;
  }
}

.homepage-mobile {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 20px;
  overflow: auto;

  .recommended-recipes {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

    .recipe {
      width: 48%;
    }
  }
}
