@use "../shared/overrides/variables.scss" as vars;

.homepage {
  width: 100%;
  height: calc(100vh - 55px);
  margin: auto;
  overflow: hidden;

  .search-bar {
    width: 100%;
    padding: 10px 250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid vars.$crackedPepper;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .router-outlet {
    width: 100%;
    padding: 10px 250px;
    height: calc(100% - 57px);
    overflow: auto;
  }
}

.homepage-mobile {
  width: 100%;
  height: calc(100vh - 55px);
  padding: 10px;
  overflow: auto;

  .search-bar {
    width: 100%;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid vars.$crackedPepper;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .router-outlet {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
  }
}

.input-icon-left{
  display: flex;
  align-items: center;
  position: relative;
  i {
    left: .75rem;
    position: absolute;
    opacity: 0.5;
  }
  .p-inputtext{
    padding-left: 2.2rem;
  }
}
