<div [ngClass]="{ 'homepage-mobile': isMobile, homepage: !isMobile }">
  <div class="header">
    <h1 class="title">Wife's Recipe Book</h1>
    <div class="description">
      Welcome to your recipe book! Add, View and Edit recipes as you like.<br />
      Be independent in your kitchen and your life!
    </div>
    <p-button
      class="add-recipe-homepage"
      [ngClass]="{'mobile': isMobile}"
      label="Add new Recipe"
      [routerLink]="'/new-recipe'"
    ></p-button>
  </div>
  <br/>
  <div class="recommended-recipes">
    @for (recipe of recommendedRecipes; track $index) {
      <div class="recipe">
        <app-recipe-card [card]="recipe"></app-recipe-card>
      </div>
    }
  </div>
</div>
