<div [ngClass]="{ 'homepage-mobile': isMobile(), homepage: isMobile() === false }">
  <app-homepage-presentation></app-homepage-presentation>

  <div class="categories">
    @for (category of categories(); track $index) {
      <div class="category" (click)="navigateWithCategory(category.name)">
        <div class="icon">
          <img [src]="category.icon"/>
        </div>
        <div class="name">
          {{category.name}}
        </div>
      </div>
    }
  </div>

  @for(category of recipesArranged(); track category.category) {
    @if(category.recipes.length > 0) {
      <div class="w-full flex align-items-center justify-content-between mt-5">
          <h2 class="w-fit-content">{{category.category}}</h2>
          <p-button class="outline" label="View all" [routerLink]="'/collection?category=' + category.category" [ngClass]="{mobile: isMobile}"/>
      </div>
      <div [ngClass]="{'recommended-recipes-container-mobile': isMobile()}">
          <div [ngClass]="{'recommended-recipes': isMobile() === false, 'recommended-recipes-mobile': isMobile()}">

              @for (recipe of category.recipes; track $index) {
                  <div class="recipe">
                      <app-recipe-card [card]="recipe" [isFavourite]="recipe.isFavourite ?? false"></app-recipe-card>
                  </div>
              }
          </div>
      </div>
    }
  }
</div>
