@use "../shared/overrides/variables.scss" as vars;

.recipe-collection {
  height: calc(100vh - 55px);
  padding: 20px 250px;
  overflow: auto;

  .header {
    text-align: center;
    .title {
      font-size: 3rem;
      margin-top: 0;
    }
  }

  .recipes-container {
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 110px);
    margin-top: 1rem;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.33%;
    row-gap: 2rem;
    display: flex;
  }

  .recipe{
    display: flex;
    flex-basis: 24%;
    width: 100%;
  }
}

.recipe-collection-mobile {
  padding: 10px 20px;
  height: calc(100vh - 55px);
  overflow: auto;

  .header {
    text-align: center;
    .title {
      font-size: 2rem;
      margin-top: 0;
    }
  }

  .recipes-container {
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 110px);
    margin-top: 1rem;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    row-gap: 0.5rem;
    display: flex;
  }

  .recipe{
    display: flex;
    flex-basis: 49%;
    width: 100%;
  }
}
