@use "../shared/overrides/variables.scss" as vars;

.recipe-collection {
  padding: 20px 250px;
  height: calc(100vh - 55px);
  overflow: auto;

  .search-bar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid vars.$crackedPepper;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .recipes-container {
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 129px);
    margin-top: 1rem;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.33%;
    row-gap: 2rem;
    display: flex;
  }
  
  .recipe{
    display: flex;
    flex-basis: 24%;
    width: 100%;
  }
}

.recipe-collection-mobile {
  padding: 10px 20px;
  height: calc(100vh - 55px);
  overflow: auto;

  .search-bar {
    width: 100%;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid vars.$crackedPepper;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .recipes-container {
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 119px);
    margin-top: 1rem;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    row-gap: 0.5rem;
    display: flex;
  }

  .recipe{
    display: flex;
    flex-basis: 49%;
    width: 100%;
  }
}

.input-icon-left{
  display: flex;
  align-items: center;
  position: relative;
  i {
    left: .75rem;
    position: absolute;
    opacity: 0.5;
  }
  .p-inputtext{
    padding-left: 2.2rem;
  }
}
