<div [ngClass]="{'recipe-collection': isMobile === false, 'recipe-collection-mobile': isMobile}">
  <div class="recipes-container">
      @for (recipe of recipes; track recipe.documentId) {
        <div class="recipe">
          <app-recipe-card [card]="recipe" [isFavourite]="recipe.isFavourite ?? false"></app-recipe-card>
        </div>
      }
  </div>
  <p-paginator (onPageChange)="onLazyLoad($event)" [alwaysShow]="true" [first]="requestParams.first ?? 0" [rows]="requestParams.pageSize ?? 20" [totalRecords]="totalRecords"/>
</div>

<p-dialog [modal]="true" [showHeader]="false" [(visible)]="errorModalVisible" [style]="{ width: '25rem' }">
    <h3 class="mb-3 text-center">{{errorMessage}}</h3>
    <div class="flex justify-content-center gap-2">
        <p-button label="Close" class="delete-button" severity="secondary" (click)="cancel()" />
    </div>
</p-dialog>
