@use "../shared/overrides/variables.scss" as vars;

.new-recipe {
  padding: 20px 50px;
  overflow: auto;

  .header {
    text-align: center;
    .title {
      font-size: 3rem;
      margin-top: 0;
    }
  }

  form {
    overflow: auto;
  }
}
