<div class="new-recipe">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="header">
        <h1 class="title">Add New Recipe</h1>
      </div>
      <div>
        <label for="name">Recipe Name: </label>
        <br />
        <input pInputText id="name" type="text" formControlName="name" />
      </div>
      <br />
      <div formArrayName="ingredients">
        <label for="ingredients">Ingredients: </label>
        <br />
        <br />
        @for (item of ingredients.controls; track item.controls['id'];) {
        <div
          class="flex gap-3 align-items-center mb-3"
          [formGroupName]="$index"
        >
          <div class="flex flex-wrap row-gap-2 gap-5">
            <div>
              <label for="ingredient">Name: </label>
              <input
                pInputText
                [id]="'ingredients' + $index"
                type="text"
                formControlName="ingredient"
              />
            </div>
            <div>
              <label for="ingredient">Quantity: </label>
              <input
                pInputText
                [id]="'ingredients' + $index"
                type="text"
                formControlName="quantity"
              />
            </div>
          </div>
          <p-button
            class="delete-ingredient"
            label="-"
            (onClick)="removeIngredient($index)"
          />
          @if ($index === 0) {
          <p-button
            class="new-ingredient"
            label="+"
            (onClick)="addNewIngredient()"
          />
          }
        </div>
        }
      </div>
      <br />
      <div>
        <label for="preparation">Preparation: </label>
        <br />
        <p-editor
          rows="10"
          [style]="{height: '400px'}"
          id="preparation"
          type="text"
          formControlName="preparation"
        ></p-editor>
      </div>
      <br />
      <div>
        <label for="hours">Preparation Time: </label>
        <br />
        <input
          pInputText
          #hourRef
          id="hours"
          type="number"
          class="w-2"
          formControlName="hours"
        />
        hours :
        <input
          pInputText
          #minutesRef
          id="minutes"
          type="number"
          class="w-2"
          formControlName="minutes"
        />
        minutes
      </div>
      <br />
      <div>
        <label for="coverPicture">Cover Picture: </label>
        <p-fileupload
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onSelect)="onUploadCoverPicture($event)"
          (onRemove)="onRemoveCoverPicture()"
          [showUploadButton]="false"
          [showCancelButton]="false"
          [multiple]="false"
          accept="image/*"
          maxFileSize="1000000"
          mode="advanced"
        >
          <ng-template #empty>
            <div>Drag and drop files to here to upload.</div>
          </ng-template>
          <ng-template #content>
            @if (uploadedCoverPicture) {
              <div class="overflow-auto font-bold">{{ uploadedCoverPicture.name }} - {{ uploadedCoverPicture.size }} bytes</div>
            }
          </ng-template>
        </p-fileupload>
      </div>
      <br />
      <div formArrayName="pictures">
        <label for="pictures">Pictures: </label>
        <p-fileupload
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onSelect)="onUpload($event)"
          (onRemove)="onRemove($event)"
          [showUploadButton]="false"
          [showCancelButton]="false"
          [multiple]="true"
          accept="image/*"
          maxFileSize="1000000"
          mode="advanced"
        >
          <ng-template #empty>
            <div>Drag and drop files to here to upload.</div>
          </ng-template>
          <ng-template #content>
            @if (uploadedFiles.length) {
            <ul>
              @for (file of uploadedFiles; track $index) {
              <li class="overflow-auto font-bold">{{ file.name }} - {{ file.size }} bytes</li>
              }
            </ul>
            }
          </ng-template>
        </p-fileupload>
      </div>
      <br />
      <br />
      <p-button
        type="submit"
        class="submit-recipe"
        label="Save Recipe"
        [disabled]="recipeForm.invalid"
      />
    </div>
  </form>
</div>
