@use "../../overrides/variables.scss" as vars;

.navbar {
  height: 60px;
  background: vars.$herbalWash;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;

    img {
      width: 65px;
      height: 55px;
    }

    .title {
      font-weight: 200;
      margin: 0;
      font-family: "MyCustomFont", sans-serif;
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      color: vars.$whiteFlour;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.navbar-mobile {
  height: 60px;
  background: vars.$herbalWash;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    img {
      width: 65px;
      height: 55px;
    }

    .title {
      font-weight: 200;
      font-size: 1.5rem;
      margin: 0;
      font-family: "MyCustomFont", sans-serif;
      height: 40px;

      &:hover {
        cursor: pointer;
        color: vars.$whiteFlour;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }
}
