@use "./variables.scss" as vars;

.p-button {
  font-size: 1rem;
  color: vars.$whiteFlour;
  border: none;
  background: transparent;

  &:hover {
    background: vars.$whiteFlour;

    .p-button-label {
      color: vars.$crackedPepper;
    }
  }
}

.add-recipe .p-button {
  background: vars.$saffronThread;
  color: vars.$crackedPepper;
  border: none;

  .p-button-label {
    font-weight: 700;
  }

  &:hover {
    background: vars.$whiteFlour;
  }
}

.sign-in .p-button {
  background: vars.$crackedPepper;
  color: vars.$whiteFlour;
  border: none;

  .p-button-label {
    font-weight: 700;
  }

  &:hover {
    background: vars.$whiteFlour;
    color: vars.$crackedPepper;
  }
}

.mobile .p-button {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}

.add-recipe-homepage .p-button {
  background: vars.$crackedPepper;
  color: vars.$whiteFlour;
  border: none;
  font-size: 2rem;
  border-radius: 50px;
  padding: 20px 30px;

  .p-button-label {
    height: 2rem;
  }

  &:hover {
    background: vars.$whiteFlour;
  }
}

.submit-recipe .p-button {
  background: vars.$herbalWash;

  &:hover {
    background: vars.$farro;
  }
}

.new-ingredient .p-button {
  width: 34px;
  height: 34px;
  background: vars.$herbalWash;

  &:hover {
    background: vars.$farro;
  }
}

.delete-ingredient .p-button {
  width: 34px;
  height: 34px;
  background: vars.$crackedPepper;

  &:hover {
    background: vars.$farro;
  }
}
