.p-drawer{
    height: 50%;

    .p-drawer-header {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .p-drawer-close-button {
            .p-button{
                color: black
            }
        }
    }

    .p-drawer-content {
        width: 50%;
        margin: auto;
        overflow: auto;

        .apply-filters-button{
            margin-top: 1rem;
            .p-button{
                color: black;
                border: 1px solid black;
                width: 100%;
                font-size: 1.5rem;
                
                .p-button-label {
                    height: 1.5rem;
                }
            }
        }
    }
}

.mobile.p-drawer{
    height: 80%;

    .p-drawer-content{
        width: 80%;
    }
}
