@use "./shared/overrides/variables.scss" as vars;

.navbar-spacer {
  height: calc(60px + env(safe-area-inset-top, 0px));
}

.router-outlet {
  min-height: calc(100vh - 60px);
  background: vars.$bg-primary;
}
