<div [ngClass]="{'recipe': isMobile === false, 'recipe-mobile': isMobile}">
    <div class="header">
        @if (recipe?.coverImage) {
            <img [src]="recipe?.coverImage?.url" class="header-image" [alt]="recipe?.title" />
        }
        <div class="presentation" [ngClass]="{'black-text': !recipe?.coverImage}">
            <div class="flex justify-content-between">
                <p-breadcrumb [model]="items" [home]="home" [ngClass]="{'black-text': !recipe?.coverImage}">
                    <ng-template #separator> / </ng-template>
                </p-breadcrumb>
                <div class="cursor-pointer" (click)="markAsFavourite()">
                    @if (isFavourite) {
                        <i class="pi pi-heart-fill favourite relative"></i>
                    } @else {
                        <i class="pi pi-heart favourite relative"></i>
                    }
                </div>
            </div>

            <div class="bottom">
                <h1>{{recipe?.title}}</h1>
                <div class="cooking-time">
                    <div>
                        {{totalRecipeTime}}
                    </div>
                    <div>
                        min@if(totalRecipeTime > 1){s}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="general">
            @if(recipe?.coverImage){
                <div class="cover-image">
                    <img [src]="recipe?.coverImage?.url" class="header-image" [alt]="recipe?.title" />
                </div>
            }
        </div>
        <div class="ingredients">
            <h2 class="font-normal">Ingredients</h2>
            @for (section of recipe?.ingredients; track $index) {
                <div class="font-bold">{{section.sectionName}}</div>
                @for (ingredient of section.ingredients; track $index) {
                    <div class="ingredient my-2">
                        <p-checkbox [value]="false"></p-checkbox>
                        {{' '}}@if (ingredient.quantity) { {{ingredient.quantity + ' '}}}{{ingredient.name}} @if (ingredient.calories) {
                                        {{` - ${ingredient.calories}`}} kcal
                                    }
                    </div>
                }
            }
        </div>
    </div>
    <div class="preparation">
        @for (step of recipe?.preparation; track $index) {
            <h1 class="preparation-step">{{$index+1}}</h1>
            <br/>
            <div class="font-italic">{{step.step}}</div>
            <br/>
        }
    </div>
    <div class="small-images">
        @for (image of recipe?.images; track $index) {
        <div class="image">
            <p-image
                [src]="image.url"
                class="presentation-image"
                [alt]="recipe?.title"
                [preview]="true" />
        </div>
        }
    </div>
    <div class="recommended">
        <app-homepage-presentation></app-homepage-presentation>
    </div>
</div>

<p-dialog [modal]="true" [showHeader]="false" [(visible)]="errorModalVisible" [style]="{ width: '25rem' }">
    <h3 class="mb-3 text-center">{{errorMessage}}</h3>
    <div class="flex justify-content-center gap-2">
        <p-button label="Close" class="delete-button" severity="secondary" (click)="cancel()" />
    </div>
</p-dialog>
