@use "../shared/overrides/variables" as vars;

.recipe {
  width: 100%;
  padding: 50px;

  .ingredients {
    max-width: 25%;
    overflow: hidden;
    word-break: break-all;
  }

  .cover-image {
    width: 80%;

    img {
      width: 100%;
      object-fit: contain;
      margin-left: auto;
    }
  }

  .small-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    row-gap: 20px;
    width: 100%;

    .image {
      width: 49%;
    }
  }

  .preparation {
    overflow-wrap: break-word;
  }
}

.card {
  box-shadow: 2px 2px 10px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background: white;
}
