<div class="recipe">
    <div class="flex justify-content-between gap-5">
        <div class="w-fit-content ingredients">
            <br />
                <h1 class="font-italic mt-0 mb-0">{{recipe.title}}</h1>
            <br />
            <div class="card">
                <div class="font-bold">Ingredients: </div>
                <ul>
                    @for (ingredient of recipe.ingredients; track $index;) {
                    <li class=" mb-3 font-italic">
                        {{ingredient.name}} - {{ingredient.quantity}}
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="w-5">
            <div class="card">
                <div class="font-bold">Preparation: </div>
                <br />
                <div class="font-italic" [innerHTML]="recipe.preparation | markdown | async"></div>
            </div>
            <br />
            <div class="card">
                <span class="font-bold">Preparation Time: </span>
                    <span class="font-italic">
                        @if (recipe.preparationTime.hours && recipe.preparationTime.hours !== '0') {
                        {{recipe.preparationTime.hours}} hour@if (recipe.preparationTime.hours !== '1') {s}
                        }
                        @if (recipe.preparationTime.minutes && recipe.preparationTime.minutes !== '0') {
                        {{recipe.preparationTime.minutes}} minute@if (recipe.preparationTime.minutes !== '1') {s}
                        }
                    </span>
            </div>
        </div>
        <div class="cover-image w-4">
            <img [src]="recipe.coverImageUrl" [alt]="recipe.title" />
        </div>
    </div>
    <br />
    <div class="small-images">
        @for (image of recipe.imagesUrls; track $index) {
        <div class="image">
            <p-image
                [src]="image"
                class="presentation-image"
                [alt]="recipe.title"
                [preview]="true" />
        </div>
        }
    </div>
    <br />
</div>