<div [ngClass]="{ 'navbar-mobile px-2': isMobile, 'navbar': isMobile === false }">
    <div class="left" [routerLink]="''">
      <img src="assets/logo/logo.png" alt="wife's recipe book logo"/>
    </div>
    <div class="navigation">
      @if (signedIn) {
        <p-button
          class="add-recipe"
          [ngClass]="{ mobile: isMobile }"
          label="+Add"
          [routerLink]="'/new-recipe'"
        />
      }

      @if(signedIn){
        @if(isMobile === false){ 
          <p-button
            class="my-recipes"
            [ngClass]="{ mobile: isMobile }"
            label="My Recipes"
            [routerLink]="'/my-recipes'"
          />
        } @else {
          <p-menubar [model]="items" />
        } 
      }
    </div>
    <div>
      @if (signedIn && isMobile === false) {
        <p-button
          class="sign-in"
          GoogleSigninButtonDirective 
          [ngClass]="{ mobile: isMobile }"
          label="Sign Out"
          (onClick)="signOut()"
        />
      }

      @if (!signedIn) {
        <p-button
            class="sign-in"
            GoogleSigninButtonDirective 
            [ngClass]="{ mobile: isMobile }"
            label="Sign In"
            (onClick)="sign()"
          />
      }
    </div>
</div>
