@if(loading()){
<div class="flex justify-content-center align-items-center" style="height: 100%">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>
}
@if(!loading()){
<div [ngClass]="{'recipe-collection': isMobile() === false, 'recipe-collection-mobile': isMobile()}">
  <div class="header">
      <h1 class="title">Favourites</h1>
  </div>
  <div class="recipes-container">
      @for (recipe of savedRecipes(); track recipe.documentId) {
        <div class="recipe">
          <app-recipe-card [card]="recipe" [isFavourite]="recipe.isFavourite ?? false"></app-recipe-card>
        </div>
      }

      @if(savedRecipes().length === 0){
        <p>No recipes found.</p>
      }
  </div>
</div>
}

<p-dialog [modal]="true" [showHeader]="false" [(visible)]="errorModalVisible" [style]="{ width: '25rem' }">
    <h3 class="mb-3 text-center">{{errorMessage()}}</h3>
    <div class="flex justify-content-center gap-2">
        <p-button label="Close" class="delete-button" severity="secondary" (onClick)="cancel()" onkeydown=""/>
    </div>
</p-dialog>
