@use "../../overrides/variables.scss" as vars;

.card {
  width: 200px;
  height: 300px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;
    border: 1px solid vars.$crackedPepper;
    box-shadow: 2px 2px 2px;
  }

  .image {
    width: 100%;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    position: relative;
    height: 250px;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      position: absolute;
    }
  }

  .title {
    padding: 10px;
  }
}
