@use "../shared/overrides/variables.scss" as vars;

.recipe-collection {
  padding: 20px 250px;
  height: calc(100vh - 55px);
  overflow: auto;

  .recipes-container {
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 129px);
    margin-top: 1rem;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1.33%;
    row-gap: 2rem;
    display: flex;
  }
  
  .recipe{
    display: flex;
    flex-basis: 24%;
    width: 100%;
  }
}

.recipe-collection-mobile {
  padding: 10px 20px;
  height: calc(100vh - 55px);
  overflow: auto;

  .recipes-container {
    width: 100%;
    padding: 0 10px;
    height: calc(100% - 205px);
    margin-top: 1rem;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2%;
    row-gap: 0.5rem;
    display: flex;
  }

  .recipe{
    display: flex;
    width: 100%;
  }
}
