<div class="cursor-pointer" [ngClass]="{'card': isMobile === false, 'card-mobile': isMobile}">
    <div class="details" (click)="view()">
        <div class="image">
            @if (recipe.coverImage) {
                <img [src]="recipe.coverImage.url" [alt]="recipe.title"/>
            } @else {
                <img src="assets/images/recipe-placeholder.png" [alt]="recipe.title"/>
            }
        </div>
        <div class="title">{{recipe.title}}</div>
    </div>
    <div class="actions">
        <p-button class="edit-button" label="Edit" (onClick)="edit()"/>
        <p-button class="delete-button" label="Delete" (onClick)="delete()"/>
    </div>
</div>
