@use "../../overrides/variables.scss" as vars;

.card {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  border: 1px solid vars.$crackedPepper;

  &:hover{
    background: vars.$herbalWash;
  }

  .details {
    max-height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;

    .image {
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
  }
}

.card-mobile {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  border: 1px solid vars.$crackedPepper;

  .details {
    max-height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;

    .image {
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
  }
}
